#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

frame{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border-width: 10px;
    border-color: aquamarine;
    border-style: groove;
}